---
- name: install php 
  apt: name={{ item }} state=present

  with_items:
    - php5
    - libapache2-mod-php5
    - php5-mcrypt
    - php5-curl
    - php5-mysql
    - php5-gd
    
  notify:
    - restart apache